body {
  margin: 50px;
}
/* 용어 컴포넌트 스타일 */
.term {
  position: relative;
  min-height: 68px;
  padding-left: 76px;

  &:nth-of-type(even) {
    padding-left: 0;
    padding-right: 68px;

    img {
      left: initial;
      right: 0;
    }
  }

  em {
    color: #296897;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #181818;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* 용어 섹션 스타일링 */
.term-section {
  border: 1px solid #555;
  border-radius: 8px;
  background: #a1a1a1;
  background: linear-gradient(180deg, rgba(161, 161, 161, 1) 0%, rgba(207, 207, 207, 1) 100%);
  padding: 1rem;
  width: 16.25rem;
  h2 {
    font-size: 1rem;
  }
}
