/* 설명 */
.description {
  margin-bottom: 20px;
  li {
    margin-bottom: 8px;

    &:first-child {
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}
/* mark */
span,
mark {
  padding: 4px 8px;
  background: #f2f3f4;
  border-radius: 4px;
  color: rgb(255, 110, 110);
  font-weight: bold;
  display: inline-block;
}
hr {
  margin-block: 2rem;
}
